#store{
    width: 100%; 
    height: 400px; 
    background-image: url('../images/store-banner/Bullpadel-web.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}


.storeTitle{
    padding: 20px;
}

.storeSubtitle{
    @include font($title-fontsize,$main-color,none,none);
    margin: 0;
    padding: 20px;
}

//Clases Bootstrap //

.col-md-3{
    padding:0 12px;
    margin: 0 !important;
}

.players{
    width: 300px !important;
}

.col{
    margin: 0 !important;
    padding: 12px;
}

.row{
    margin: 0 !important;
}

//6 Main Cards// 

.card-img-overlay{
    @include flex(flex,row,end,none);

    h5{
        @include font(46px, white, none,none);
        font-family: "Bebas Neue", sans-serif;
        font-style: normal;
        margin: 0;
    }
}

.card-body{
    h5{
        @include font($subtitle-fontsize, $main-color, 500,none);
    }
    h6{
        @include font($p-fontsize, $main-color, bold,none);
    }
    p{
        @include font($p-fontsize, $main-color, none,none);
    }
    del{
        @include font($small-fontsize, #555555, 500,none);
    }
}

//carrito

.carrito-container{
    margin-right: 20px;
    img{
        background-color: white;
    }
        
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.carrito-header, .carrito-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    padding: 10px 0;
}

.carrito-header {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.carrito-title {
    text-align: left;
}

.carrito-cantidad {
    text-align: center;
}

.carrito-price {
    text-align: right;
}

.carrito-total {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    font-weight: bold;
    border-top: 1px solid #ddd;
}

.total-title {
    margin-right: 20px;
}

.total-amount {
    text-align: right;
}
